[submodule "Jamoma.Ircam.FTM"]
	path = Jamoma.Ircam.FTM
	url = git://github.com/lossius/Jamoma.Ircam.FTM.git
[submodule "Schumacher"]
	path = Schumacher
	url = git://github.com/marleynoe/Schumacher.git
[submodule "Jamoma.Ircam.Spat"]
	path = Jamoma.Ircam.Spat
	url = git://github.com/lossius/Jamoma.Ircam.Spat.git
[submodule "Jamoma.Ircam.IMTR"]
	path = Jamoma.Ircam.IMTR
	url = git://github.com/lossius/Jamoma.Ircam.IMTR
[submodule "Holophon"]
	path = Holophon
	url = git://github.com/Nilson/Holophon.git
[submodule "NavNav"]
	path = NavNav
	url = git://github.com/navid/NavNav.git
[submodule "SoundhackWrappers"]
	path = SoundhackWrappers
	url = git://github.com/jln-/SoundhackWrappers.git
[submodule "GMEA"]
	path = GMEA
	url = git://github.com/theod/GMEA.git
[submodule "TapTools"]
	path = TapTools
	url = git://github.com/tap/TapTools.git
[submodule "SpatDIF"]
	path = SpatDIF
	url = git://github.com/SpatDIF/Jamoma.git
